{% extends 'templateApp/base.html' %} 
{% block title %} 
this page is for STUDENTADD 
{% endblock title %} 

{% block body %} 
{% comment %}* as_p html deki p tag igibi hareket etmesini sagliyor, yani alt alta geciyorlar {% endcomment %} 

<form action="" method="post" enctype="multipart/form-data">
{% comment %}* form post sirasinda sizmalari, taklitleri engellemek icin kullanilir {% endcomment %}
    {% csrf_token %} 

    {{form.as_p }}
    <input type="submit" value="Add"> 
</form>

{% endblock body %}
